body {
  padding: 0;
  margin: 0;
  display: block;
}

.title {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 100;
  text-align: center;
}

.toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 75px;
  max-height: 175px;
  box-sizing: border-box;
  background: #333333;
  list-style-type: none;
  padding: 1%;
  display: flex;
  align-items: center;
}

.toolbar-links {
  display: inline-block;
}

.toolbar-links-a {
  height: 20px;
  color: white;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  display: inline-block;
  margin-right: 15px;
  transition: 0.3s ease;
}

.toolbar-links-a:hover {
  transform: scale(1.075);
}

.Lights {
  background-color: white;
  display: block;
  width: 50%;
  min-width: 400px;
  height: 100%;
  padding: 16px;
  border-radius: 10px;
  margin-top: 0%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20.5%;
  box-shadow: 0 3px 20px 0 rgba(0,0,0,0.2);
  transition-duration: 0.2s;
  transition-delay: 0s;
}

.Lights:hover {
  box-shadow: 0 10px 40px 0 rgba(0,0,0,0.2);
}

.card-container {
  background-color: white;
  display: block;
  width: 50%;
  height: 50%;
  padding: 16px;
  border-radius: 10px;
  margin-top: 0%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2.5%;
  box-shadow: 0 3px 20px 0 rgba(0,0,0,0.2);
  transition-duration: 0.2s;
  transition-delay: 0s;
}

.card-container:hover {
  box-shadow: 0 10px 40px 0 rgba(0,0,0,0.2);
}

.BubbaPage {
  background-color: white;
  display: block;
  width: 50%;
  height: auto;
  padding: 16px;
  border-radius: 10px;
  margin-top: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80%;
  box-shadow: 0 3px 20px 0 rgba(0,0,0,0.2);
  transition-duration: 0.2s;
  transition-delay: 0s;
}

.BubbaPage:hover {
  box-shadow: 0 10px 40px 0 rgba(0,0,0,0.2);
}

.toggle-text {
  margin-top: 3%;
  margin-bottom: 3%;
  display: block;
  min-width: 490px;
  color: #9E9E9E;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 300%;
  user-select: none;
  transition-delay: 0s;
  transition: 0.2s ease-out;
}

.toggle-text:hover {
  color: blue;
  transform: scale(1.1);
}

.link-wrapper {
  margin-top: 7.5px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 390px;
  height: 50%;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.container-card-arrow {
  width: 50%;
  height: 20%;
  min-width: 180px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.therm-controll-wrapper {
  display: block;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: auto;
}

.up-arrow {
  margin-bottom: 15%;
  min-width: 170px;
  margin-left: auto;
  margin-right: auto;
}

.down-arrow {
  margin-top: 15%;
  min-width: 170px;
  margin-left: auto;
  margin-right: auto;
}

.svg-first{
  fill: #e51313;
}

.svg-first, .svg-2nd{
  stroke-width: 10px;
  stroke: #f96e6e;
}

.svg-2nd{
  stroke-miterlimit: 10;
  fill: none;
  stroke-width: 13px;
}

.viewBox {
  width: 100%;
  height: 100%;
  display: block;
  margin-bottom: 15%;
}

.cls-1 {
fill: #0c0;
}

.cls-1, .cls-2 {
stroke: #000;
stroke-width: 6;
stroke-miterlimit: 10;
}

.cls-2 {
fill: none;
}

.viewBox1 {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.viewBoxToolbar {
  width: 6.5%;
  min-width: 75px;
  max-width: 130px;
  height: 6.5%;
  min-height: 75px;
  max-height: 130px;
  display: block;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.downerSVG {
  fill: #fff;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 10px;
  transform-origin: center;
}

.DownViewBox {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20%;
  margin-bottom: 15%;
  min-height: 100px;
  min-width: 100px;
  max-height: 350px;
  max-width: 350px;
  transform-origin: center;
  transition: 0.2s ease-in-out;
  transition-delay: none;
}

.DownViewBox:hover {
  transform: scale(1.25);
}

.DownViewBox.box_clicked {
  opacity: 0;
  transition-duration: 0.1s;
  transform: scale(0);
}


/*#actual-divider {
  width: 50px;
  height: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: #333333;
}*/

#Bubba {
  font-family: 'Lalezar', cursive;
  font-size: 1000%;
  height: 50%;

  display: block;
  text-align: center;
}

#therm-actual {
  font-size: 500%;
  min-width: 170px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  display: block;
}

#arrow {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2%;
  width: 100%;
  height: 100%;
}

#wrapper-div {
  margin-top: 15%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

#card-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 400%;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 0px;
  margin-top: 16px;
}

#card-title-footer {
  display: block;
  min-height: 2px;
  max-height: 4px;
  height: 0.2%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1px;;
  background-color: #333333;
  margin-top: 0px;
  margin-bottom: 20px;
}

#card-description {
  display: block;
  font-size: 56px;
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  margin-top: 16px;
}

#button {
  width: 5%;
  height: 100px;
  display: inline;
  float: left;
}

#logo {
  width: 70px;
  height: 70px;
  padding: 2px;
  margin-top: 1px;
  display: inline-block;
  margin-right: 35px;
}

#intro {
  color: black;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
